.title {
    text-align: center;
    font-size: 30px;
    color: var(--background-white);
    text-shadow: 1px 1px 1px rgb(51, 24, 124);
}

.logInForm {
    text-align: center;
    width: 400px;
    padding: 40px 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--background-white);
    color: var(--main-text-color);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(1, 10, 64, 0.58);
    -moz-box-shadow: 0px 2px 4px 0px rgba(1, 10, 64, 0.58);
    box-shadow: 0px 2px 4px 0px rgba(1, 10, 64, 0.58);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 25px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.listItem {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.label {
    font-size: 18px;
    font-weight: 500;
}

.icon {
    margin-bottom: -3px;
    margin-right: 3px;
}

.input {
    width: 265px;
    margin-bottom: 15px;
    padding: 4px;
    border: 0.3px solid rgba(1, 10, 64, 0.58);
    border-radius: 3px;
    background-color: rgba(197, 234, 255, 0.418);
    font-size: 18px;
}

.input:focus {
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.submitBtn {
    width: 125px;
    padding: 10px 15px;
    margin-top: 15px;
    background-color: var(--main-blue);
    color: var(--background-white);
    border: none;
    border-radius: 15px;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submitBtn:hover,
.submitBtn:focus {
    background-color: var(--active-blue);
    color: var(--active-button-text-color);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.notice {
    text-align: center;
    font-size: 20px;
    color: var(--background-white);
    text-shadow: 1px 1px 1px rgb(51, 24, 124);
}

.link {
    font-weight: 700;
    color: var(--background-white);
}

.link:hover,
.link:focus {
    color: var(--active-blue);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    text-decoration: none;
}