.phonebook__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    padding: 30px 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--background-white);
    color: var(--main-text-color);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(1, 10, 64, 0.58);
    -moz-box-shadow: 0px 2px 4px 0px rgba(1, 10, 64, 0.58);
    box-shadow: 0px 2px 4px 0px rgba(1, 10, 64, 0.58);
}

.phonebook__label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-left: 10px;
    align-self: flex-start;
}

.icon {
    margin-right: 5px;
    margin-bottom: -2px;
}

.phonebook__input {
    width: 285px;
    margin-bottom: 15px;
    padding: 4px;
    border: 0.3px solid rgba(1, 10, 64, 0.58);
    border-radius: 3px;
    background-color: rgba(197, 234, 255, 0.418);
    font-size: 18px;
}

.phonebook__input:focus {
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}

.phonebook__input:last-of-type {
    margin-bottom: 0;
}

.phonebook__button {
    width: 125px;
    padding: 10px 15px;
    margin-top: 30px;
    background-color: var(--main-blue);
    color: var(--background-white);
    border: none;
    border-radius: 15px;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phonebook__button:hover {
    background-color: var(--active-blue);
    color: var(--active-button-text-color);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
}