.phonebook__title {
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(51, 24, 124);
}

.contacts__title {
    text-align: center;
    font-size: 33px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(51, 24, 124);
}