.phonebook__title {
    margin-left: 20px;
    font-size: 35px;
    color: rgb(78, 41, 20);
    text-shadow: 2px 2px 2px rgb(255, 203, 173);;
}

.contacts__title {
    margin-left: 20px;
    font-size: 30px;
    color: rgb(78, 41, 20);
    text-shadow: 2px 2px 2px rgb(255, 203, 173);;
}