.contacts__list {
    max-width: 420px;
    margin-left: 20px;
    padding: 0;
    list-style: inside;
    font-size: 20px;
    color: rgb(78, 41, 20);
}

.error {
    margin-left: 20px;
    font-size: 40px;
    color: rgb(78, 41, 20);
}